{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 150,
  "semi": true,
  "trailingComma": "es5",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "ignore",
  "embeddedLanguageFormatting": "auto",
  "quoteProps": "consistent",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}